

@media (max-width: 991.98px) {
    .subscribe{
        width: 100%;
        text-align: center;
        padding: 0 50px;
    }
}

@media (max-width: 1199.98px) { 
    .company-logo {
        display: none;
    }
 }